# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Scripts.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/projectSettingsUpdater.xml
/modules.xml
/.idea.Scripts.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
